@use "@becklyn/next/scss/mixins" as *;

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages {
    display: flex;
    align-items: center;
    gap: 4px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    width: 30px;
    height: 20px;
    color: black;
}

.active {
    cursor: not-allowed;
    background-color: black;
    color: white;
}

.spacer {
    pointer-events: none;
}
