.story-container {
    position: relative;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 400px;
    border-radius: 30px;

    &.large {
        width: 800px;
    }

    &.flex {
        display: flex;
        gap: 4px;
    }

    &.flex-column {
        flex-direction: column;
    }

    &.full-height {
        height: 100vh;
        overflow-y: auto;
    }

    &.full-width {
        width: 100%;
    }

    &.no-padding {
        padding: 0;
    }

    &.gray {
        background-color: #f5f5f5;
    }
}
