@use "@becklyn/next/scss/mixins" as *;

$background-color: #fff;
$border-color: #3f3f3f;
$text-color: #000;
$hover-color: #3f3f3f;
$active-color: #3f3f3f;
$focus-color: #ff0000;
$disabled-color: #777;

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdownButton {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    align-self: stretch;
    border: 1px solid $border-color;

    @include hover {
        .dropdownButtonText {
            color: $hover-color;
        }
    }

    @include active {
        .dropdownButtonText {
            color: $active-color;
        }
    }

    @include focus-visible {
        outline: 2px solid $focus-color;

        .dropdownButtonText {
            color: $hover-color;
        }
    }

    @include disabled {
        .dropdownButtonText {
            color: $disabled-color;
        }
    }
}

.dropdownButtonIcon {
    @include square(20px);
}

.open .dropdownButtonIcon {
    transform: rotate(180deg);
}
