@use "@becklyn/next/scss/mixins" as *;

$background-color: #fff;
$border-color: #3f3f3f;
$text-color: #000;
$hover-color: #3f3f3f;
$active-color: #3f3f3f;
$focus-color: #ff0000;
$disabled-color: #777;

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.dropdownButton {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    align-self: stretch;
    gap: 16px;
    border: 1px solid $border-color;
    padding: 8px 24px;
    height: 48px;

    @include hover {
        .dropdownButtonText {
            color: $hover-color;
        }
    }

    @include active {
        .dropdownButtonText {
            color: $active-color;
        }
    }

    @include focus-visible {
        outline: 2px solid $focus-color;

        .dropdownButtonText {
            color: $hover-color;
        }
    }

    @include disabled {
        .dropdownButtonText {
            color: $disabled-color;
        }

        .dropdownButtonIcon {
            color: $disabled-color;
        }
    }

    &.default {
        background: $background-color;
    }

    &.multi {
        border: 1px solid $border-color;
    }
}

.dropdownButtonText {
    overflow: hidden;
    color: $text-color;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dropdownButtonIcon {
    color: $text-color;
    @include square(20px);
    @include transition(transform, 200ms, ease-in-out);
}

.open .dropdownButtonIcon {
    transform: rotate(180deg);
}
