@use "@becklyn/next/scss/mixins" as *;

.form {
	position: relative;
	display: flex;
	width: min(400px, 50vw);
}

.step {
	position: absolute;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	opacity: 0;
    @include transition(opacity);

	&.active {
		opacity: 1;
		z-index: 2;
	}

	&.hidden {
		opacity: 0;
		z-index: 1;
	}
}

.fullWidth {
	grid-column: 1 / 3;
}

.error {
	color: #f00;
}
