.box {
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
        background-color 0.3s,
        border-color 0.3s,
        color 0.3s;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f0f0f0;
    padding: 24px;
    color: #999;
    font-weight: bold;
    font-size: 16px;
}

.visible {
    border-color: #6abf69;
    background-color: #d4edda;
    color: #2e7d32;
}
