@use "@avemo/ui/styles/mixins.scss" as *;
@use "@avemo/ui/styles/colors/components-input-dropdown.scss" as *;
@use "@avemo/ui/styles/colors/components-input-checkbox.scss" as *;

.dropdownContainer {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: zIndex("modal");
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
    background-color: $components-color-input-dropdown-default;
    padding: 16px 8px 16px 0;
    width: 100%;

    @include border-radius("S");
}

.dropdown {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-height: 15rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
        right: 8px;
        width: 6px;
        @include border-radius("XXXL");

        @include hover {
            background-color: $color-gray-200;
        }
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-gray-800;
        @include border-radius("XXXL");
    }
}
