@use "@becklyn/next/scss/mixins" as *;

$background-color: #fff;
$border-color: #e0e0e0;

.dropdownContainer {
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid $border-color;
    background-color: $background-color;
    width: 100%;
}

.dropdown {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-height: 15rem;
    overflow-y: auto;
}
